<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <div class="logo-box">
        <a href="index.html" class="logo logo-dark text-center">
            <span class="logo-sm">
                <img src="<%= image_url('logo-sm-dark.png') %>" alt="" height="24">
                <!-- <span class="logo-lg-text-light">Minton</span> -->
            </span>
            <span class="logo-lg">
                <img src="<%= image_url('logo-dark.png') %>" alt="" height="20">
                <!-- <span class="logo-lg-text-light">M</span> -->
            </span>
        </a>

        <a href="index.html" class="logo logo-light text-center">
            <span class="logo-sm">
                <img src="<%= image_url('logo-sm.png') %>" alt="" height="24">
            </span>
            <span class="logo-lg">
                <img src="<%= image_url('logo-light.png') %>" alt="" height="20">
            </span>
        </a>
    </div>

    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <li>
                    <%= link_to home_index_path do %>
                      <i class="mdi mdi-gift-outline"></i>
                      <span> Home </span>
                    <% end -%>
                </li>

                <li>
                    <a href="document/index.html">
                        <i class="mdi mdi-gift-outline"></i>
                        <span> Document </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->