<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <div class="logo-box">
      <%= link_to root_path, class: "logo logo-dark text-center", data: { turbo: false } do %>
        <span class="logo-sm">
          <img src="<%= image_url('logo-sm-dark.png') %>" alt="" height="24">
          <!-- <span class="logo-lg-text-light">Minton</span> -->
        </span>
        <span class="logo-lg">
          <img src="<%= image_url('logo-dark.png') %>" alt="" height="20">
          <!-- <span class="logo-lg-text-light">M</span> -->
        </span>
      <% end -%>

      <%= link_to root_path, class: "logo logo-light text-center", data: { turbo: false } do %>
        <span class="logo-sm">
          <img src="<%= image_url('logo-sm.png') %>" alt="" height="24">
        </span>
        <span class="logo-lg">
          <img src="<%= image_url('logo-light.png') %>" alt="" height="20">
        </span>
      <% end -%>
    </div>

    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <li>
                    <%= link_to home_index_path, data: { turbo: false } do %>
                      <i class="mdi mdi-gift-outline"></i>
                      <span> Home </span>
                    <% end -%>
                </li>

                <li>
                    <a href="documentation/index.html" target="_blank">
                        <i class="mdi mdi-gift-outline"></i>
                        <span> Document </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->