<!DOCTYPE html>
<html>
<head>
  <title>SassProjects</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body class="loading auth-fluid-pages pb-0">

  <div class="auth-fluid">
    <!-- Auth fluid right content -->
    <div class="auth-fluid-right bg-transparent">
      <div class="auth-user-testimonial">
        <h3 class="mb-3 text-white">Very elegant & impressive!</h3>
        <p class="lead fw-normal"><i class="mdi mdi-format-quote-open"></i> I've been using this theme for a while and I must say that whenever I am looking for a design - I refer to this theme for specifics & implementation. With wide arrays of components, designs, charts - I would highly recommend this theme for anyone using it for dashboard or project management usage.. <i class="mdi mdi-format-quote-close"></i>
        </p>
        <h5 class="text-white">
          - Admin User
        </h5>
      </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->

    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
      <div class="align-items-center d-flex h-100">
        <div class="card-body">
          <% if notice %>
            <div class="alert alert-success"><%= notice %></div>
          <% end %>

          <% if alert %>
            <div class="alert alert-danger"><%= alert %></div>
          <% end %>

          <!-- Logo -->
          <div class="auth-brand text-center text-lg-start">
            <div class="auth-logo">
              <a href="index.html" class="logo logo-dark text-center">
                <span class="logo-lg">
                  <img src="<%= image_url('logo-dark.png') %>" alt="" height="22">
                </span>
              </a>

              <a href="index.html" class="logo logo-light text-center">
                <span class="logo-lg">
                  <img src="<%= image_url('logo-light.png') %>" alt="" height="22">
                </span>
              </a>
            </div>
          </div>

          <!-- form -->
          <%= yield %>
          <!-- end form-->

        </div> <!-- end .card-body -->
      </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->
  </div>
  <!-- end auth-fluid-->
</body>
</div>